<div style="height:70px;margin:0 auto; width:60%;"><h1>Primeros pasos en Python<img style="width:200px;float:right" src="imgs/logo.jpg"/></div>

## Objetivos
1. Presentar el entorno de trabajo: Jupyter Notebooks, en este caso, en Colaboratory.
2. Mediante la introducción de algunos elementos nativos de Python, brindar ejemplos de programación orientada a objetos, con clases pre-definidas y, conforme sus propiedades específicos, denotan métodos característicos.
3. Introducir la lógica de los iteradores y mecanismos de excepción.

## Secciones
Elementos y métodos asociados 
 * Listas **[** 0, 1, ... i, ... n **]**
 * Tuplas **(** 0, 1, ... i, ... n **)**
 * Diccionarios **{** key : value, ..... letras : [ a, b, ... z ] **}**
 
 [Aquí](http://sthurlow.com/python/lesson06/) podés leer más sobre estos elementos.

Temas transversales
* Indexación
* Funciones* built-in*
* Iteradores (loops y listas por comprensión)
* Excepciones (condiciones validadas con booleanos)

## Instalación de Python y Jupyter

Para poder instalar Python en Windows o Mac, hay que instalar el cliente Python desde su [web oficial](https://www.python.org/downloads/), en la configuración añadir Python al PATH

Para instalar sobre la instancia de Python lo que es Jupyter, existe para Windows un archivo .bat en este repositorio en la carpeta "utiles" "llamado installjupyter.bat". Si querés installar Jupyter manualmente en la consola del sistema operativo, podés hacerlo de la siguiente forma: 

__python3 -m pip install --upgrade pip__

__python3 -m pip install jupyter__

Luego, correr Jupyter de la siguiente forma: 

__jupyter notebook__

Para desarrollar, utilizaremos la web app [Jupyter Notebook](https://jupyter.org/), un entorno open-source que permite entre otras cosas crear y compartir documentos que contienen entre otras cosas, código en vivo, ecuaciones y visualizaciones de datos.

## Qué es un Notebook (Cuaderno) y cómo es su uso básico

Un notebook es un documento que se edita a través de un navegador web, y cuyo objetivo es alojar código (en este caso en lenguaje Python y elementos web, que se mostrarán y podrán ser exportados en un mismo archivo.

Los cuadernos tienen dos tipos de celdas, de código y de texto. La celda que estás leyendo es una celda de texto escrita con Markdown, un lenguaje de marcado parecido al HTML.

Con *Shift* + *Enter* podés ejecutar cada línea o bloque de código.
 
 Con *Ctrl* + *M* + *M* podés transformar una celda de código en *markdown*. Para revertir esa transormación, usamos *Ctrl* + *M* + *Y*. Para conocer las distintas opciones de formato markdown en Jupyter, visita este [link](https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed)
  
Podés buscar lista completa de `keyboard shutcuts` en las Jupyter.

## Programación en Python

### 0) Salidas por consola

Para mostrar algo por la salida de Jupyter basta con poner esto:

In [1]:
5

5

Para realizar una operación matemática basta con realizar la misma en la consola

In [2]:
5*6*7

210

Si queremos guardar el valor de resultado, instanciamos una variable

In [3]:
# necesitamos crear una instancia para el resultado de 5*6*7
# cómo harías?
var = 5 * 6 * 7
var # si ubicamos la variable 'suelta' en una línea de código vemos su valor por consola.

210

### 1) Listas [ ] 

Una *lista* es una colección **ordenada y mutable** de elementos, no necesariamente del mismo tipo. El orden está dado por una **indexación implícita** que se **actualiza** ante cambio en el orden, insertar un elemento o eliminarlo. 

En principio, vamos a programar con una lista que contienen elementos icónicos del **labo de info**.

Ah! Recordá que las cadenas de texto [*string*] van entre comillas!

In [4]:
# creamos una lista de elementos de tipo string
labo = ['compu', 'aire', 'luces', 'teclados', 'buena onda','info']

In [5]:
# averiguamos la extensión de la lista que creamos previamente
len(labo)

6

In [6]:
# ahora vemos la extensión de cada elemento implementando un for. Recordamos que un for es una repetitiva exacta!
for i in labo:
    print(i,': ', len(i), 'caracteres')

compu :  5 caracteres
aire :  4 caracteres
luces :  5 caracteres
teclados :  8 caracteres
buena onda :  10 caracteres
info :  4 caracteres

Python cuenta con una serie de índices __implícitos__ que podemos invocar.

In [7]:
# invoca el último elemento de la lista
labo[-1]

'info'

In [8]:
# invoca el segundo elemento de la lista
labo[1] # recordá que el conteo arranca en 0!

'aire'

In [9]:
# cuando trabajamos con índices implícitos,
# los intervalos son semiabiertos a derecha
labo[2:4]

['luces', 'teclados']

In [10]:
# también podemos especificar si queremos saltearnos algunos elementos
# [inicio:final:steps]
labo[::2]

['compu', 'luces', 'buena onda']

In [11]:
# podemos ver la enumeración de elementos de la lista
# para visualizarlo conviene que encapsulemos al iterador en una lista
list(enumerate(labo))

[(0, 'compu'),
 (1, 'aire'),
 (2, 'luces'),
 (3, 'teclados'),
 (4, 'buena onda'),
 (5, 'info')]

Operaciones de __agregación, modificación y eliminación__ en la lista:

In [12]:
# añadimos gente al labo
labo.append('gente')
labo

['compu', 'aire', 'luces', 'teclados', 'buena onda', 'info', 'gente']

In [13]:
labo[0] = 'máquinas' 
labo
# qué sucedió en la lista?

['máquinas', 'aire', 'luces', 'teclados', 'buena onda', 'info', 'gente']

In [14]:
# si queremos eliminar el elemento 'gente' de la lista, utilizamos pop
labo.pop(-1)

'gente'

In [15]:
labo

['máquinas', 'aire', 'luces', 'teclados', 'buena onda', 'info']

'gente' ya no forma parte de la lista labo

Para insertar un elemento en cierto lugar de la lista, en vez de llamar a append, se usa insert

In [16]:
labo.insert(0,'redes')
labo.insert(2,'wi-fi')
labo

['redes',
 'máquinas',
 'wi-fi',
 'aire',
 'luces',
 'teclados',
 'buena onda',
 'info']

#### 2) Tuplas ( ) 

Una *tupla* es una colección **ordenada e inmutable** de elementos. Tal como la lista, sigue teniendo una indexación implícita y, por tanto, ordenada. Sin embargo, una vez creada, la tupla no tolera alteraciones, a menos que la reescribas completamente. El no admitir alteraciones, **preserva la identidad** o el contenido inicial. Asimismo es más eficiente computacionalmente hablado en términos de procesamiento.

Una tupla puede no contener ningún elemento, es decir, ser una tupla vacía.

En este caso, vamos a jugar con referencias a las **cumbres más altas** de cada continente.

In [17]:
# generamos listas con un ORDEN tal que 
# los primeros elementos de c/u puedan agruparse bajo un criterio, igualmente los segundos, los terceros, etc.
# ... de qué forma leerías esta información?

continentes = ['África', 'Américas', 'Antártida', 'Asia', 'Europa', 'Oceanía']
paises = ['Tanzania', 'Argentina', '(Chile)', 'China y Nepal', 'Francia e Italia', 'Indonesia']
cumbres = ['Kilimanjaro', 'Aconcagua', 'Maciso Vinson', 'Everest', 'Mont Blanc', 'Nemangkawi' ]
altura = [5893, 6962, 4892, 8848, 4810, 4884]

In [18]:
# ZIP es un elemento iterador
zip(continentes, cumbres, altura)

In [19]:
# en esta línea generamos una lista con los componentes anexados de 3 de las 4 listas declaradas previamente 
SeisCumbres = list(zip(continentes, cumbres, altura))
SeisCumbres

[('África', 'Kilimanjaro', 5893),
 ('Américas', 'Aconcagua', 6962),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Mont Blanc', 4810),
 ('Oceanía', 'Nemangkawi', 4884)]

supongamos que es mejor optar por separar las Américas

**clonamos** (copiamos) la lista 'SeisCumbres' para modificarla libremente y mantener un backup de los datos originales

In [20]:
CumbresxContinente = SeisCumbres
CumbresxContinente = SeisCumbres.copy()

# usarías la primera o la segunda línea? por qué?

In [21]:
# incorporá a CumbresxContinente ('America del Norte', 'Denali', 6168) usando .append()
CumbresxContinente.append(('América del Norte', 'Denali', 6168))

# incorporá a CumbresxContinente ('America del Norte', 'Denali', 6168) usando .insert()
# ubicala esta tubla ordenándola alfabeticamente
CumbresxContinente.insert(2, ('América del Norte', 'Denali', 6168))

Veamos lo que contiene ahora la lista '_CumbresxContinente_'

In [22]:
CumbresxContinente

[('África', 'Kilimanjaro', 5893),
 ('Américas', 'Aconcagua', 6962),
 ('América del Norte', 'Denali', 6168),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Mont Blanc', 4810),
 ('Oceanía', 'Nemangkawi', 4884),
 ('América del Norte', 'Denali', 6168)]

In [23]:
list(enumerate(CumbresxContinente))

[(0, ('África', 'Kilimanjaro', 5893)),
 (1, ('Américas', 'Aconcagua', 6962)),
 (2, ('América del Norte', 'Denali', 6168)),
 (3, ('Antártida', 'Maciso Vinson', 4892)),
 (4, ('Asia', 'Everest', 8848)),
 (5, ('Europa', 'Mont Blanc', 4810)),
 (6, ('Oceanía', 'Nemangkawi', 4884)),
 (7, ('América del Norte', 'Denali', 6168))]

In [24]:
list(enumerate(SeisCumbres))

[(0, ('África', 'Kilimanjaro', 5893)),
 (1, ('Américas', 'Aconcagua', 6962)),
 (2, ('Antártida', 'Maciso Vinson', 4892)),
 (3, ('Asia', 'Everest', 8848)),
 (4, ('Europa', 'Mont Blanc', 4810)),
 (5, ('Oceanía', 'Nemangkawi', 4884))]

In [25]:
# te acordás de la indexación? 
# cómo harías para recuperar la palabra 'Américas'?

CumbresxContinente[1][0]

'Américas'

En este caso usamos subíndices, como si fuera una __matriz__ (array de dos dimensiones). Como '_CumbresXContinente_' tiene 3 atributos por objeto, accedo al primer elemento del segundo objeto

In [26]:
# tenemos que modificar 'Américas'
# intentá con .remove()
CumbresxContinente.remove(('Américas', 'Aconcagua', 6962))

 * A diferencia de .pop(), .remove() no arroja el resultado del ítem eliminado. Mientras en el primero se referencia el índice del ítem, en el segundo se menciona el ítem completo

In [27]:
# por qué borramos la tupla completa 
# en lugar de reemplazar 'Américas' por 'América del Sur'?
CumbresxContinente.insert(2, ('América del Sur', 'Aconcagua', 6962))

In [28]:
CumbresxContinente

[('África', 'Kilimanjaro', 5893),
 ('América del Norte', 'Denali', 6168),
 ('América del Sur', 'Aconcagua', 6962),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Mont Blanc', 4810),
 ('Oceanía', 'Nemangkawi', 4884),
 ('América del Norte', 'Denali', 6168)]

Ahora nos damos cuenta que hay una referencia mal ingresada. La cima europea no es el Mont Blanc, sino el Elbrus. Debemos corregirlo!

In [29]:
# incorporá a CumbresxContinente ('Europa', 'Elbrus', 5642) en el sexto lugar, ¿qué comando usarías?
CumbresxContinente.remove(('Europa', 'Mont Blanc', 4810))
CumbresxContinente.insert(5,('Europa', 'Elbrus', 5642))

In [30]:
CumbresxContinente

[('África', 'Kilimanjaro', 5893),
 ('América del Norte', 'Denali', 6168),
 ('América del Sur', 'Aconcagua', 6962),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Elbrus', 5642),
 ('Oceanía', 'Nemangkawi', 4884),
 ('América del Norte', 'Denali', 6168)]

In [31]:
# acá presentamos la estructura de una lista de comprensión
# las listas por comprensión son análogas a un loop FOR, aunque en una sólo línea!
alturas=list(c for a,b,c in CumbresxContinente)
alturas

[5893, 6168, 6962, 4892, 8848, 5642, 4884, 6168]

In [32]:
min(alturas)

4884

In [33]:
range(len(alturas))

range(0, 8)

#### 3) Diccionarios { }
Un *diccionario* es una colección de pares **key:value**, no está ordenada y puede ser **mutable**. La referenciación a los valores del diccionario se realizan a partir de su **key**, por lo tanto, podríamos considerar que esa key opera como una referenciación explícita, pero se pierde el sentido de orden secuencial de tuplas y listas. Permite updates de los pares **key:values**

En este caso, volvemos a trabajar con la lista **labo**, y generamos un complemento. a jugar con referencias.

In [34]:
# un diccionario de los elementos del labo con su cantidad de caracteres
labo_d = {}
for k in labo:
    labo_d.update({k: len(k)})
labo_d

{'redes': 5,
 'máquinas': 8,
 'wi-fi': 5,
 'aire': 4,
 'luces': 5,
 'teclados': 8,
 'buena onda': 10,
 'info': 4}

### Manejo de Series y Dataframes

__Pandas__ es acrónimo de _Python Data Analysis Library_. Como menciona su nombre, es una librería de Python que permite el
análisis y manipulación de grandes cantidades de datos.

Veremos algunas de las funciones para poder obtener y mostrar información relevante a partir de datos duros almacenados, en esta clase y en la siguiente.

In [35]:
#instrucción para realizar la importación de librería pandas
import pandas as pd

__Series__ → Es un array unidimensional que soporta cualquier tipo de dato.

s = pd.Series(data, index=index)

Donde _data_ es el conjunto de datos a almacenar en el mismo

In [36]:
pd.Series(labo_d)

redes          5
máquinas       8
wi-fi          5
aire           4
luces          5
teclados       8
buena onda    10
info           4
dtype: int64

__DataFrame__ → Es un array de dos dimensiones que soporta 2 diferentes tipos de datos robustos.
Básicamente, es un conjunto de dos Series, que la consola de Python permite visualizar como una tabla
Utilizaremos DataFrame para almacenar los registros de cualquier archivo de entrada.

pd.DataFrame(data,columns=['Columna1','Columna2'])

Donde _data_ es el conjunto de datos a mostrar y _columns_ es el listado de columnas a utilizar

In [37]:
data = [['Alex',10],['Juan',18],['Julieta',13]]
df = pd.DataFrame(data,columns=['Nombre','Edad'])
df

    Nombre  Edad
0     Alex    10
1     Juan    18
2  Julieta    13

## Otros elementos básicos de Python a tener en cuenta

In [38]:
7/2

3.5

In [39]:
7//2

3

¿Cuál es la diferencia entre ambas operaciones?

In [40]:
# el % nos devuelve el resto de la división antes de aplicar resultados decimales, veamos:
print(6%3)
print(7%2)

0
1

Podemos utilizar el iterador for de Python para generar listas de números personalizadas

In [41]:
# creamos una lista de números impares, en el rango de 1 a 40
Nimpares = [ x for x in range(40) if x%2!=0]
Nimpares

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]