# Titulo de mi programa
Bienvenidos a mi programa que es el mejor de Python

## Parte 1

In [2]:
5*6

30

In [4]:
print('hola')
var=2

hola

In [5]:
var3=10

In [6]:
var+var3

12

In [7]:
lista=['suva','nico','gluk','elpity','dasman']

In [9]:
len(lista)

5

In [35]:
for i in lista:
    print(i, len(i), ' caracteres')

suva 4  caracteres
nico 4  caracteres
gluk 4  caracteres
elpity 6  caracteres
dasman 6  caracteres

In [36]:
lista[-1]

'dasman'

In [32]:
lista[1:5]

['nico', 'gluk', 'elpity', 'dasman']

In [37]:
lista[::3]

['suva', 'elpity']

In [38]:
list(enumerate(lista))

[(0, 'suva'), (1, 'nico'), (2, 'gluk'), (3, 'elpity'), (4, 'dasman')]

In [39]:
lista

['suva', 'nico', 'gluk', 'elpity', 'dasman']

In [43]:
nombres=['binker','fede','barki']
edades=[24,21,21]
apellidos=['binker','perchuk','barki']

In [44]:
nombres

['binker', 'fede', 'barki']

In [45]:
edades

[24, 21, 21]

In [49]:
mizip=zip(nombres,edades,apellidos)

In [50]:
informacion=list(mizip)

In [51]:
informacion

[('binker', 24, 'binker'), ('fede', 21, 'perchuk'), ('barki', 21, 'barki')]

In [52]:
mizip

In [53]:
informacion[0]

('binker', 24, 'binker')

In [54]:
informacion[0][1]

24

In [55]:
informacion[1][1]

21

In [57]:
import pandas as pd

In [61]:
dataframe=pd.read_csv('datasets/establecimentos-elecciones-2017.csv', sep=';')

In [62]:
dataframe

,ESTABLECIMIENTOS,DIRECCION,CALLE,ALTURA,BARRIO,COMUNA,CODIGO_POSTAL,CODIGO_POSTAL_ARGENTINO,LAT,LNG
0,UBA FACULTAD DE DERECHO Y CS. SOCIALES,"FIGUEROA ALCORTA, PRES. AV. 2263","FIGUEROA ALCORTA, PRES. AV.",2263,RECOLETA,COMUNA 2,1425,C1425CKB,-34.583289,-58.392373
1,ESCUELA Nº3 DE 1 O. LEGUIZAMON,SANTA FE AV. 1510,SANTA FE AV.,1510,RECOLETA,COMUNA 2,1060,C1060ABO,-34.595848,-58.388627
2,ESCUELA Nº23 DE 6 PROV. DE ENTRE RIOS,BOEDO AV. 1935,BOEDO AV.,1935,BOEDO,COMUNA 5,1239,C1239AAJ,-34.636566,-58.416301
3,ESCUELA Nº 20 DE 2 R. PEÑALOZA,PRINGLES 1165,PRINGLES,1165,ALMAGRO,COMUNA 5,1183,C1183AEU,-34.598466,-58.426465
4,ESCUELA Nº 30 DR. E. GASCON,SAN BLAS 5387,SAN BLAS,5387,VILLA LURO,COMUNA 10,1407,C1407FUO,-34.630591,-58.508890
5,ESCUELA Nº2 REPUBLICA DE PANAMA,SAN MARTIN AV. 6387,SAN MARTIN AV.,6387,VILLA DEVOTO,COMUNA 11,1419,C1419ICA,-34.593939,-58.504850
6,INSTITUTO SAN MARIA DE LOS ANGELES,"PEDRAZA, MANUELA 3950","PEDRAZA, MANUELA",3950,COGHLAN,COMUNA 12,1430,C1430AOL,-34.559086,-58.479997
7,ESCUELA Nº12 DE 9 R. CASTILLA,CONDE 943,CONDE,943,COLEGIALES,COMUNA 13,1426,C1426AYS,-34.576539,-58.452345
8,INST. A. TOGNINI,SANTA FE AV. 4320,SANTA FE AV.,4320,PALERMO,COMUNA 14,1425,C1425BHS,-34.580446,-58.422940
9,INST. VOCACIONAL ARGENTINO,CHARCAS 3034,CHARCAS,3034,RECOLETA,COMUNA 2,1425,C1425BML,-34.592961,-58.408877

In [63]:
dataframe.count()

ESTABLECIMIENTOS           10
DIRECCION                  10
CALLE                      10
ALTURA                     10
BARRIO                     10
COMUNA                     10
CODIGO_POSTAL              10
CODIGO_POSTAL_ARGENTINO    10
LAT                        10
LNG                        10
dtype: int64

In [64]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
ESTABLECIMIENTOS           10 non-null object
DIRECCION                  10 non-null object
CALLE                      10 non-null object
ALTURA                     10 non-null int64
BARRIO                     10 non-null object
COMUNA                     10 non-null object
CODIGO_POSTAL              10 non-null int64
CODIGO_POSTAL_ARGENTINO    10 non-null object
LAT                        10 non-null float64
LNG                        10 non-null float64
dtypes: float64(2), int64(2), object(6)
memory usage: 624.0+ bytes

In [65]:
dataframe.head(5)

,ESTABLECIMIENTOS,DIRECCION,CALLE,ALTURA,BARRIO,COMUNA,CODIGO_POSTAL,CODIGO_POSTAL_ARGENTINO,LAT,LNG
0,UBA FACULTAD DE DERECHO Y CS. SOCIALES,"FIGUEROA ALCORTA, PRES. AV. 2263","FIGUEROA ALCORTA, PRES. AV.",2263,RECOLETA,COMUNA 2,1425,C1425CKB,-34.583289,-58.392373
1,ESCUELA Nº3 DE 1 O. LEGUIZAMON,SANTA FE AV. 1510,SANTA FE AV.,1510,RECOLETA,COMUNA 2,1060,C1060ABO,-34.595848,-58.388627
2,ESCUELA Nº23 DE 6 PROV. DE ENTRE RIOS,BOEDO AV. 1935,BOEDO AV.,1935,BOEDO,COMUNA 5,1239,C1239AAJ,-34.636566,-58.416301
3,ESCUELA Nº 20 DE 2 R. PEÑALOZA,PRINGLES 1165,PRINGLES,1165,ALMAGRO,COMUNA 5,1183,C1183AEU,-34.598466,-58.426465
4,ESCUELA Nº 30 DR. E. GASCON,SAN BLAS 5387,SAN BLAS,5387,VILLA LURO,COMUNA 10,1407,C1407FUO,-34.630591,-58.508890

In [66]:
dataframe.tail(5)

,ESTABLECIMIENTOS,DIRECCION,CALLE,ALTURA,BARRIO,COMUNA,CODIGO_POSTAL,CODIGO_POSTAL_ARGENTINO,LAT,LNG
5,ESCUELA Nº2 REPUBLICA DE PANAMA,SAN MARTIN AV. 6387,SAN MARTIN AV.,6387,VILLA DEVOTO,COMUNA 11,1419,C1419ICA,-34.593939,-58.504850
6,INSTITUTO SAN MARIA DE LOS ANGELES,"PEDRAZA, MANUELA 3950","PEDRAZA, MANUELA",3950,COGHLAN,COMUNA 12,1430,C1430AOL,-34.559086,-58.479997
7,ESCUELA Nº12 DE 9 R. CASTILLA,CONDE 943,CONDE,943,COLEGIALES,COMUNA 13,1426,C1426AYS,-34.576539,-58.452345
8,INST. A. TOGNINI,SANTA FE AV. 4320,SANTA FE AV.,4320,PALERMO,COMUNA 14,1425,C1425BHS,-34.580446,-58.422940
9,INST. VOCACIONAL ARGENTINO,CHARCAS 3034,CHARCAS,3034,RECOLETA,COMUNA 2,1425,C1425BML,-34.592961,-58.408877

In [67]:
dataframe.describe()

            ALTURA  CODIGO_POSTAL        LAT        LNG
count    10.000000      10.000000  10.000000  10.000000
mean   3089.400000    1343.900000 -34.594773 -58.440166
std    1862.842464     133.748894   0.023550   0.044241
min     943.000000    1060.000000 -34.636566 -58.508890
25%    1616.250000    1281.000000 -34.597811 -58.473084
50%    2648.500000    1422.000000 -34.593450 -58.424702
75%    4227.500000    1425.000000 -34.581157 -58.410733
max    6387.000000    1430.000000 -34.559086 -58.388627

In [68]:
dataframe.sample(3)

,ESTABLECIMIENTOS,DIRECCION,CALLE,ALTURA,BARRIO,COMUNA,CODIGO_POSTAL,CODIGO_POSTAL_ARGENTINO,LAT,LNG
5,ESCUELA Nº2 REPUBLICA DE PANAMA,SAN MARTIN AV. 6387,SAN MARTIN AV.,6387,VILLA DEVOTO,COMUNA 11,1419,C1419ICA,-34.593939,-58.504850
2,ESCUELA Nº23 DE 6 PROV. DE ENTRE RIOS,BOEDO AV. 1935,BOEDO AV.,1935,BOEDO,COMUNA 5,1239,C1239AAJ,-34.636566,-58.416301
1,ESCUELA Nº3 DE 1 O. LEGUIZAMON,SANTA FE AV. 1510,SANTA FE AV.,1510,RECOLETA,COMUNA 2,1060,C1060ABO,-34.595848,-58.388627

In [69]:
Nimpares = [ x for x in range(-500,40) if x%2==0]

In [70]:
Nimpares

[-500,
 -498,
 -496,
 -494,
 -492,
 -490,
 -488,
 -486,
 -484,
 -482,
 -480,
 -478,
 -476,
 -474,
 -472,
 -470,
 -468,
 -466,
 -464,
 -462,
 -460,
 -458,
 -456,
 -454,
 -452,
 -450,
 -448,
 -446,
 -444,
 -442,
 -440,
 -438,
 -436,
 -434,
 -432,
 -430,
 -428,
 -426,
 -424,
 -422,
 -420,
 -418,
 -416,
 -414,
 -412,
 -410,
 -408,
 -406,
 -404,
 -402,
 -400,
 -398,
 -396,
 -394,
 -392,
 -390,
 -388,
 -386,
 -384,
 -382,
 -380,
 -378,
 -376,
 -374,
 -372,
 -370,
 -368,
 -366,
 -364,
 -362,
 -360,
 -358,
 -356,
 -354,
 -352,
 -350,
 -348,
 -346,
 -344,
 -342,
 -340,
 -338,
 -336,
 -334,
 -332,
 -330,
 -328,
 -326,
 -324,
 -322,
 -320,
 -318,
 -316,
 -314,
 -312,
 -310,
 -308,
 -306,
 -304,
 -302,
 -300,
 -298,
 -296,
 -294,
 -292,
 -290,
 -288,
 -286,
 -284,
 -282,
 -280,
 -278,
 -276,
 -274,
 -272,
 -270,
 -268,
 -266,
 -264,
 -262,
 -260,
 -258,
 -256,
 -254,
 -252,
 -250,
 -248,
 -246,
 -244,
 -242,
 -240,
 -238,
 -236,
 -234,
 -232,
 -230,
 -228,
 -226,
 -224,
 -222,
 -220,
 -218,
 -216,
 -214,
 -212,
 -210,
 -208,
 -206,
 -204,
 -202,
 -200,
 -198,
 -196,
 -194,
 -192,
 -190,
 -188,
 -186,
 -184,
 -182,
 -180,
 -178,
 -176,
 -174,
 -172,
 -170,
 -168,
 -166,
 -164,
 -162,
 -160,
 -158,
 -156,
 -154,
 -152,
 -150,
 -148,
 -146,
 -144,
 -142,
 -140,
 -138,
 -136,
 -134,
 -132,
 -130,
 -128,
 -126,
 -124,
 -122,
 -120,
 -118,
 -116,
 -114,
 -112,
 -110,
 -108,
 -106,
 -104,
 -102,
 -100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38]